body {
   margin: 0;
   font-family: sans-serif;
   font-size: 1.125rem;
   font-weight: 300;
}

img {
   max-width: 100%;
   display: block;
}

.image-full {
   max-height: 300px;
   width: 100%;
   object-fit: cover;
   margin-bottom: 2em;
}

h1,
h2,
h3 {
   font-family: serif;
   font-weight: 400;
   color: #143774;
   margin-top: 0;
}

h1 {
   font-size: 2rem;
   margin: 0;
}

h2 {
  color:#c0c0c0;
  font-weight:100;
}

h3 {
   color: #1792d2;
}

.subtitle {
   font-weight: 700;
   color: #1792d2;
   font-size: .75rem;
   margin: 0;
}

.article-title {
   font-size: 1.5rem;
}

.article-read-more,
.article-info {
   font-size: .875rem;
}

.article-read-more {
   color: #5c2018;
   text-decoration: none;
   font-weight: 700;
}

.article-read-more:hover,
.article-read-more:focus {
   color: #143774;
   text-decoration: underline;
}

.article-info {
   margin: 2em 0;
}

.container {
   width: 90%;
   max-width: 900px;
   margin: 0 auto;
}

.container-nav,
.container-flex {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

header {
   background: #f8f8f8;
   text-align: center;
   padding: 2em 0;
   margin-bottom: 3em;
}

footer {
   background: #143774;
   color: white;
   text-align: center;
   padding: .5em 0;
}

.fa-heart {
   color: red;
}

footer a {
   text-decoration: none;
   color: red;
}

strong {
   font-weight: 700;
}

.header {
  margin: 0;
  font: bold 14px/1.4 'Open Sans', arial, sans-serif;
  background: #2e1114;
}

ul {
  margin: auto 0;
  padding: 0;
  list-style: none;
  display: table;
  width: 600px;
  text-align: center;
}
li {
  display: table-cell;
  position: relative;
  padding: 15px 0;
}
a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;

  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after {
  width: 100%;
  left: 0;
}
@media screen and (max-height: 300px) {
	ul {
		margin-top: 40px;
	}
}

header{
  background:#46344e;
  padding:25px;
  text-align:center;
  font-family: 'Oswald', sans-serif;
}

h1{
  color:#c0c0c0;
  font-weight:100;
}

.subtitle{
  color:#999;
  padding:10px 20px;
  font-size:12px;
  text-decoration:none;
  letter-spacing:2px;
}


body{
  background: #9d8d8f;
  color: #ecf0f1;
}
.current-page:hover {
   color: #707070;
}

.article-featured {
   border-bottom: #707070 1px solid;
   margin: 1.25rem;
   padding-bottom: 2em;
   margin-bottom: 2em;
}
.article-body {
  color: #5a5560;
  font-weight: bold;
}
.article-recent {
   display: flex;
   flex-direction: column;
   margin-bottom: 2em;
}

.article-recent-main {
   order: 2;
}

.article-recent-secondary {
   order: 1;
}

.sidebar-widget {
   border: 10px solid #efefef;
   margin-bottom: 2em;
   padding: 1em;
}

.widget-title {
   font-size: 1rem;
   font-family: sans-serif;
   font-weight: 700;
}

.widget-recent-post-title {
   font-size: 1rem;
}

.widget-recent-post {
   display: flex;
   flex-direction: column;
   border-bottom: 1px solid #707070;
   margin-bottom: 1em;
}

.widget-recent-post:last-child {
   border: 0;
   margin: 0;
}

.widget-image {
   order: -1;
   margin-bottom: .5em;
}

.cardOG {
   w-full;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
   background-color: #9b786f;
   width: 100%;

}

.container-flask {
   align-items: justify
   margin: 2px;
   padding: 20px;
   border-radius: 10px;
   box-sizing: border-box;
}
.card {
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
   background-color: #345;
   width: 100%;
   border-radius: 8px;
   padding: 20px;
   width: 100%;
   max-width: 800px;
   box-sizing: border-box;
}


@media (min-width: 675px) {
   .container-nav,
   .container-flex {
      flex-direction: row;
   }

   .container-nav{
      align-items: center;
   }

   main {
      width: 70%;
   }

   aside {
      width: 25%;
      min-width: 200px;
      margin-left: 1em;
   }

   nav ul {
      flex-direction: row;
   }

   nav li {
      margin-left: 2em;
   }


   .article-recent {
      flex-direction: row;
      justify-content: space-between;
   }

   .article-recent-main {
      width: 68%;
   }

   .article-recent-secondary {
      width: 30%;
   }



   .article-title {
      color: #ecf0f1;
	  text-shadow: 2px 2px 4px #000000;
	  font-family: "Varela Round", sans-serif;
      order: 99;
   }

   .article-image-1 {
      width: 70%;
      min-height: 200px;
      object-fit: cover;
   }

   .article-image {
      width: 100%;
      min-height: 200px;
      object-fit: cover;
   }


   .article-featured {
      display: flex;
      flex-direction: column;
   }

   .article-image {
      order: -2;
   }

   .article-info {
      order: -1;
   }

   .article-title {
      order: 0;
   }

}


